h1 {
  font-family:cursive;
  font-size:2rem;
}

.submit {
  background:blue;
  border-radius: 99%;
  color:white;
  display:block;
  font-size:75%;
  margin:1rem auto;
  padding:1.3rem;
  text-align:center;
}

body {
  background:blue;
}

p {
  padding:0.8rem 0.2rem;
}

.container {
  background:lightgrey;
  border:6px solid white;
  margin:0 auto;
  position:relative;
  text-align:center;
  top:44%;
  transform:translateY(-50%);
  width:44%;
}

.ta {
  background-color:lightblue;
  height:5rem;
  width:25rem;
}
